<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf=8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Login page</title>
        <link href="webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="webjars/jquery/3.0.0/jquery.min.js"></script>
        <script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
        <form name"f" th:action="@{/login}" method="post" class="form-signin">
            <h1>Login</h1>
            <h3 class="h3 mb-3 font-weight-normal">Login</h3>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">Invalid credentials</div>
            <div th:if="${param.logout}" class="alert alert-success" role="alert">You have been logged out.</div>
            <div class="form-group">
                <input type="text" id="username" name="username" class="form-control" placeholder="Username"/>                
            </div>
            <div class="form-group">
                 <input type="password" id="password" name="password" class="form-control" placeholder="Password"/>                
            </div>
            <div class="control-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
            </div>
        </form>        
    </body>
</html>