@font-face {
    font-family: 'DaimlerCAC-Regular';
    src: url('./fonts/WOFF/DaimlerCAC-Regular.woff') format('woff'),
    url('./fonts/SVG/DaimlerCAC-Regular.svg') format('svg'); /* Legacy iOS */
    }
    
    @font-face {
    font-family: 'DaimlerCSArab-Regular';
    src: url('./fonts/WOFF/DaimlerCSArab-Regular.woff') format('woff'),
    url('./fonts/SVG/DaimlerCAC-Regular.svg') format('svg');
    }
    
    
    .om-font-family {
        font-family: "DaimlerCSArab-Regular"!important;
    }
    .om-font-family-dcacr {
        font-family: "DaimlerCAC-Regular";
    }